<div class="container-fluid margin">
        <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading"><%= @post.title %></div>
        <div class="panel-body">
         <%= markdown @post.content %>
         <p><%= @post.created_at.strftime("%c") %></p>
        </div>
        <%= link_to "Edit", edit_post_path(@post), class:"a" %>
        <%= link_to "Delete", post_path(@post),class:"a",method: :delete, data:{confirm:"Estas Seguro?"} %>
      </div>
        </div>
      </div>
      <hr>
      <%= render 'disqus'%>